<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringName"
         connectionString="Server=BSS02;Database=BPersoEgitim;Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="serverIP" value ="127.0.0.1"/>
    <add key="serverPort" value="81"/>
  </appSettings>
</configuration>